<!DOCTYPE html>
<html lang="en">
  <title>Result</title>
  <head>
    <style>
      #chartdiv {
        width: 100%;
        height: 300px;
      }
      #chartdiv1 {
        width: 100%;
        height: 350px;
      }
    </style>

    <!-- Resources -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/xy.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
      
      <div class="container">
          <div class="row">
              <a href="http://localhost:8000">Result Page</a>
          </div>

          <div class="row">
                <div class="col-sm-6">
                  <br><br><br><br>
                  <table border="1">
                      <thead>
                          <tr>
                              <th>Symbol</th>
                              <th>Portion</th>
                              <th>Last Price</th>
                              <th>Investment Day 1</th> 
                              <th>Investment Day 2</th> 
                              <th>Investment Day 3</th> 
                              <th>Investment Day 4</th> 
                              <th>Investment Day 5</th> 
                          </tr>
                      </thead>
                      <script language="javascript" type="text/javascript">
                          var result = {{ context | safe}};

                          for(j = 0; j < result.length - 1; j++) {
                            document.write("<tr>");
                            document.write("<td>" + result[j]["name"] + "</td>");
                            document.write("<td>" + result[j]["portion"] + "</td>");
                            document.write("<td>" + result[j]["last_price"] + "</td>");
                            for (i = 0; i < result[0]["result"].length; i++) { 
                              document.write("<td>" + result[j]["result"][i] + "</td>");
                            }
                            document.write("</tr>");
                          }
                          // console.log("+++++" + result.length);
                      </script>
                  </table>
                  <!-- {{ context | safe}} -->
                </div>
                <div class="col-sm-6">
                  <div id="chartdiv1"></div>
                </div>
          </div>
          <div>
              <div id="chartdiv"></div>
          </div>
      </div>

  </body>
</html>

<!-- Chart code -->
<script>
var result = {{ context | safe}};

console.log(result);

// #b0de09, #09deba, #de0909, #de8109, #09c8de, #091ede, #af09de, #e070c0
var color = ["#b0de09", "#09deba", "#de0909", "#de8109", "#000000", "#061ede", "#af09de", "#e070c0"];


graphs = []
// for (i = 0; i < result.length; i++) { 
for (i = result.length - 1; i < result.length; i++) { 
  var graph_element = {
    "balloonText": "<div style='margin:5px;'><b>[[x]]</b><br>y:<b>[[y]]</b><br>value:<b>[[value]]</b></div>",
    "bullet": "diamond",
    "maxBulletSize": 25,
    "lineAlpha": 0.8,
    "lineThickness": 2,
    "lineColor": color[i],
    "fillAlphas": 0,
    "xField": "date",
    "yField": result[i]["name"],
    "valueField": "portion("+result[i]["name"]+")"
  }
  graphs.push(graph_element);
}
console.log(graphs);


dataProvider = []
for (i = 0; i < result[0]["result"].length; i++) { 
    var obj = {};
    obj["date"] = i;
    // for(j = 0; j < result.length; j++) {
    for(j = result.length - 1; j < result.length; j++) {
      obj[result[j]["name"]] = result[j]["result"][i];
      // console.log(result[j]["name"]);
      obj["portion("+result[j]["name"]+")"] = result[j]["portion"];
    }
    // console.log(obj)
    dataProvider.push(obj);
}
console.log(dataProvider);

var chart = AmCharts.makeChart("chartdiv", {
  "type": "xy",
  "theme": "light",
  "marginRight": 80,
  "dataDateFormat": "YYYY-MM-DD",
  "startDuration": 1.5,
  "trendLines": [],
  "balloon": {
    "adjustBorderColor": false,
    "shadowAlpha": 0,
    "fixedPosition": true
  },
  "graphs": graphs,
  "valueAxes": 
  [
    {
      "id": "ValueAxis-1",
      "axisAlpha": 0
    }, 
    {
      "id": "ValueAxis-2",
      "axisAlpha": 0,
      "position": "bottom"
    }
  ],
  "allLabels": [],
  "titles": [],
  "dataProvider": dataProvider
  ,

  "export": {
    "enabled": true
  },

  "chartScrollbar": {
    "offset": 15,
    "scrollbarHeight": 5
  },

  "chartCursor": {
    "pan": true,
    "cursorAlpha": 0,
    "valueLineAlpha": 0
  }
});


dataProvider1 = []
for(j = 0; j < result.length - 1; j++) {
  var obj = {};
  obj["portion"] = result[j]["portion"]
  obj["symbol"] = result[j]["name"];
  dataProvider1.push(obj);
}


var chart1 = AmCharts.makeChart( "chartdiv1", {
  "type": "pie",
  "theme": "light",
  "dataProvider": dataProvider1,
  "valueField": "portion",
  "titleField": "symbol",
   "balloon":{
   "fixedPosition":true
  },
  "export": {
    "enabled": true
  }
} );

</script>

